*{
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: 100; */
    font-style: normal;
}

:root{
    --darkGreenCustom:#386641;
    --greenCustom:#6a994e;
    --greenLightCustom:#a7c957;
    --pannaWhite:#f2e8cf;
    --greenSuperLight:#e9f5db;
    --redCustom:#bc4749;
}



.card{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
h1{
    /* margin-top: 40px; */
    /* font-size: 80px; */
    /* height: 100vh; */
    text-shadow:4px 4px 7px rgba(142, 48, 48, 0.65);
    /* backdrop-filter: blur(3px); */
}
.italymap{
    height: 75vh;
    width: 100vw;
    background-image: url(/public/img/Italymap1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(85, 4, 4, 0.5) 1.95px 1.95px 2.6px;
}


/* Stile Navbar */
.navbar {
    background-color: var(--greenSuperLight);
    transition: 0.5s;
    font-weight: bold;
}

.rotate-brand {
    animation: rotate 1s linear forwards;
}

.navbar-toggler {
    color: var(--greenLightCustom);
    background-color: var(--pannaWhite);
}

.nav-link {
    transition: 0.5s;
    position: relative;
}

.nav-link:hover {
    transition: 0.5s;
    color: var(--redCustom);
}

.navbar-brand:hover {
    color: var(--darkGreenCustom);
}